.checkOut {
    height: 100vh;
    background-color: var(--secondColor);
    transition: .3s all ease-in !important;

}

.checkOut form {
    padding: 50px 20px;
}

.checkOut form>button {
    border: var(--mainColor) 1px solid;
    background-color: var(--secondColor);
    padding: 7px 15px;
    width: fit-content;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.checkOut form input:focus{
    box-shadow: 2px 2px 10px 0px var(--mainColor) !important;
    border: none;

}

.dark .checkOut form{
    border: var(--mainColor) solid 1px;
}

.dark .checkOut form button{
    color: white;
}